{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4">Live scores</legend>
<div>
  <p>
    <b>Highest total score:</b>
    {{ stat.max_score.name }} with {{ stat.max_score.total_score}} points.
  </p>
  <p>
    <b>Lowest total score:</b>
    {{ stat.min_score.name }} with {{ stat.min_score.total_score }} points.
  </p>
  <p>
    <b>Best song:</b>
    {{ stat.max_song.name }} with {{ stat.max_song.total_score}} points.
  </p>
   <p>
     <b>Worst song:</b>
     {{ stat.min_song.name }} with {{ stat.min_song.total_score}} points.
  </p>
  <p>
    <b>Best outfit:</b>
    {{ stat.max_outfit.name }} with {{ stat.max_outfit.total_score}} points.
  </p>
  <p>
    <b>Worst outfit:</b>
    {{ stat.min_outfit.name }} with {{ stat.min_outfit.total_score}} points.
  </p>
  <p>
    <b>Best performance:</b>
    {{ stat.max_performance.name }} with {{ stat.max_performance.total_score}} points.
  </p>
  <p>
    <b>Worst performance:</b>
    {{ stat.min_performance.name }} with {{ stat.min_performance.total_score}} points.
  </p>
</div>
<div class="mt-4">
  {{ table }}
</div>
{% endblock content %}
