{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
    </div>
  </div>
  <!-- FORM HERE -->
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
	{{ form.song.label(class="form-control-label") }}:
	<p>
	  {% for subfield in form.song %}
	  <tr>
	    <td>{{ subfield }}</td>
	    <td>{{ subfield.label }}</td>
	  </tr>
	  {% endfor %}
	</p>
      </div>
      <div class="form-group">
	{{ form.outfit.label(class="form-control-label") }}:
	<p>
	  {% for subfield in form.outfit %}
	  <tr>
	    <td>{{ subfield }}</td>
	    <td>{{ subfield.label }}</td>
	  </tr>
	  {% endfor %}
	</p>
      </div>
      <div class="form-group">
	{{ form.performance.label(class="form-control-label") }}:
	<p>
	  {% for subfield in form.performance %}
	  <tr>
	    <td>{{ subfield }}</td>
	    <td>{{ subfield.label }}</td>
	  </tr>
	  {% endfor %}
	</p>
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}
