{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <legend class="border-bottom mb-4">{{ current_user.username }}'s votes</legend>
    </div>
  </div>
  <!-- FORM HERE -->
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
	{{ form.name.label(class="form-control-label") }}:
	{{ form.name(class="form-control form-control-lg") }}
      </div>
      {{ form.song.label(class="form-control-label") }}:
      <div id="radios1" class="form-group">
	<p>
	  {% for subfield in form.song %}
	  <tr>
	    <td>{{ subfield }}</td>
	    <td>{{ subfield.label }}</td>
	  </tr>
	  {% endfor %}
	</p>
      </div>
      {{ form.outfit.label(class="form-control-label") }}:
      <div id="radios2" class="form-group">
	<p>
	  {% for subfield in form.outfit %}
	  <tr>
	    <td>{{ subfield }}</td>
	    <td>{{ subfield.label }}</td>
	  </tr>
	  {% endfor %}
	</p>
      </div>
      {{ form.performance.label(class="form-control-label") }}:
      <div id="radios3" class="form-group">
	<p>
	  {% for subfield in form.performance %}
	  <tr>
	    <td>{{ subfield }}</td>
	    <td>{{ subfield.label }}</td>
	  </tr>
	  {% endfor %}
	</p>
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>


{% endblock content %}
