{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
      <p class="text-secondary">Vote here</p>
    </div>
  </div>
  <!-- FORM HERE -->
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
	{{ form.song.label(class="form-control-label") }}
	{% if form.song.errors %}
	{{ form.song(class="form-control form-control-lg is-invalid") }}
	<div class="invalid-feedback">
	  {% for error in form.song.errors %}
	  <span>{{ error }}</span>
	  {% endfor %}
	</div>
	{% else %}
	{{ form.song(class="form-control form-control-lg") }}
	{% endif %}
      </div>
      <div class="form-group">
	{{ form.outfit.label(class="form-control-label") }}
	{% if form.outfit.errors %}
	{{ form.outfit(class="form-control form-control-lg is-invalid") }}
	<div class="invalid-feedback">
	  {% for error in form.outfit.errors %}
	  <span>{{ error }}</span>
	  {% endfor %}
	</div>
	{% else %}
	{{ form.outfit(class="form-control form-control-lg") }}
	{% endif %}
      </div>
      <div class="form-group">
	{{ form.performance.label(class="form-control-label") }}
	{% if form.performance.errors %}
	{{ form.performance(class="form-control form-control-lg is-invalid") }}
	<div class="invalid-feedback">
	  {% for error in form.performance.errors %}
	  <span>{{ error }}</span>
	  {% endfor %}
	</div>
	{% else %}
	{{ form.performance(class="form-control form-control-lg") }}
	{% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}
